
/* Default font for body */
body {
  font-family: 'Inter', sans-serif;
}

/* Headings */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Paragraphs */
p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}




.landingPageContainer {
  width: 100vw;
  height : 100vh;
  background :url("../public/background.png");
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display:flex;
  justify-content:space-between;
  align-items: center;
  cursor:pointer;
}

.landingPageContainer nav h2{
  font-size:1.8rem;
  font-weight:500;
}


.landingPageContainer nav .navlist{
  display:flex;
  gap:1.6rem;
}



.landingMainContainer {
  display:flex;
  justify-content:space-between;
  padding-inline: 2em;
  /* padding-block:5rem; */
  align-items:center;
  height:80vh;
}

.landingMainContainer > div:nth-child(1){
 font-size:1.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"]{
 background:orange;
 width:fit-content;
 padding:1rem;
 border-radius:20px;
 /* margin-top:1.5rem; */
}


.landingMainContainer > div:nth-child(1) div a{
text-decoration:none;
color:white;
font-size:1.2rem;

}

.landingMainContainer > div:nth-child(2) img{

}